
/*********************************************
 * GRID 
 *********************************************/

.row {
  width: 100%;
  max-width: $grid-max-width;
  min-width: $grid-min-width;
  margin: 0 auto;
  overflow: hidden;
}

.col {
  float: left;
  min-height: 1px;
  width: 50%;
}
.col:not(img) {
  height:160px;
}
img.col {
  height: auto; 
}
li {
  float: left;
  min-height: 1px;
  width: $grid-col-size;
}

.reveal li {
 
  float: left;
  min-height: 1px;
  width: ($grid-col-size );
  max-width: ($grid-max-width );
  padding: 0 0 35px 0 ;
  overflow: hidden;
  font-size: 2em;
  line-height: 1em;
  min-height: 15px;
  
  background-image: url('../lib/img/nav.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-position-x: $padding-left ;
  
  padding-top: 20px; 
  a {
    display:block;
    padding: 0 $padding-left 0 $padding-left ;
  }
}

ul.subnav  {
  width:100%;
  height:160px;
  padding:0;
}
.subnav li {
  width: 50%;
  height: 100%;
  padding:0;
  margin:0;
 
  &>a,&>a:link, &>a:active,  &>a:hover, &>a:visited  {
    display:block;
    padding: 40px $padding-left  0 $padding-left ;
    color:white;
  }
}

.subnav li:first-child {
  background-color: $color1;
  background-image: none;
}

.subnav li:last-child {
  background-color: $color2;
  background-image: none;
}



