


/*********************************************
 * HEADERS
 *********************************************/

.reveal {
  h1 { 
    font-size: 3.77em; 
    padding: 10px $padding-left ;
  }
  h2 { 
    font-size: 3.77em; 
    padding: 10px $padding-left ;
  }
  h3 { font-size: 1.55em; }
  h4 { font-size: 1em;  }
}

