
/*********************************************
 * OVERVIEW
 *********************************************/

.reveal.overview .slides {
  -webkit-perspective: 700px;
     -moz-perspective: 700px;
      -ms-perspective: 700px;
          perspective: 700px;
}

.reveal.overview .slides section {
  height: 600px;
  overflow: hidden;
  opacity: 1!important;
  visibility: visible!important;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
}
.reveal.overview .slides section .fragment {
  opacity: 1;
}
.reveal.overview .slides section:after,
.reveal.overview .slides section:before {
  display: none !important;
}
.reveal.overview .slides section>section {
  opacity: 1;
  cursor: pointer;
}
  .reveal.overview .slides section:hover {
    background: rgba(0,0,0,0.3);
  }
  .reveal.overview .slides section.present {
    background: rgba(0,0,0,0.3);
  }
.reveal.overview .slides>section.stack {
  padding: 0;
  background: none;
  overflow: visible;
}

