
/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  position: fixed;
  display: none;
  height: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}
.reveal .progress:after {
  content: '';
  display: 'block';
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
}
.reveal .progress span {
  display: inline-block;
  height: 100%;
  color: red;

  -webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
     -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
      -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
       -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
          transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
.reveal .progress span:first-child {
  position: fixed;
  left:10px;
}
.reveal .progress span:last-child {
  position: fixed;
  right:10px;
}

.activeIndex {
  color: yellow !important;
}
